
/* Your CSS Code here. */
.holder{
    display: flex;
    direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.item{
    
    background-color: brown;
    height: 400px;
    width:400px;

}